CSS code notes: 
*@media screen and (min-width: 1024px) and( max-width:  1079px) 
	{
    box-sizing: border-box;
}
body {
  width: 100%;
}
#task{
 width:100%;
padding: 10px;
}
#requirements{
  width:100%;
padding: 10px;
}
#submission{
 width:100%;
padding: 10px;
}
#grading{
 width:100%;
padding: 10px;
}
#deadline{
 width:100%;
padding: 10px;
}
#signin{
  width:100%;
padding: 10px;
}
.header {
  background-color: aquamarine;
  text-align: center;
  padding: 5px;
  width: 100%;
  color: forestgreen;
}

/* Navbar links */
.topnav a {
  position: relative;
  float: left;
  display: block;
  color: aquamarine;
  text-align: center;
  padding: 2 em;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: mediumaquamarine;
  color: aquamarine;
}
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: darkgrey;
}

h1[style] {
text-align: center;
}
h1[style] {
text-align: center;
background-color: aquamarine !important;
font-family: cursive;
font-size: xx-large;
border-style: dashed;
}
h2[style] {
  width: 100%; height="auto";
text-align: center;
font-family: cursive;
font-size: x-large;
border-style: dashed;
background-color: aquamarine;
}
.second {
	color: rebeccapurple;
}
li.item {
	color: rebeccapurple;
}
ul > li {
	color: rebeccapurple;
}
body li {
	color: rebeccapurple;
}
#last {
	color: seagreen;
	font-size: 2 em;
}
div {
	padding-top: 24px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 24px;
}
selector:pseudo-class{
	property: value;
}
/* unvisited link */
a:link {
color: red;
}
/* visited link */
a:visited {
color: deeppink;
}
/* mouse over link */
a:hover {
color: forestgreen;
}
/* selected link */
a:active {
color: blue;
}
p::first-letter {
color: forestgreen;
}
p::first-line {
color: forestgreen;
}
p::selection {
color: rebeccapurple;
}
::marker {
color: rebeccapurple;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
}
.button {
  width="100%"; height="auto";
  background-color: aquamarine; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/*  MOBILE MODE*/
@media screen and (max-width: 600px) {
.header {
  font-size: 0.5em;
}
body {
width:100%;
}
	nav {
		flex-wrap: wrap;
		justify-content: center;
	}
	nav > ul{
		width:  100%;
	flex-wrap: wrap;
	justify-content: space-around;
	}
	nav > ul > li{
		width: 100%;
		margin: .25rem;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
h2[style] {
  width: 100%; height="auto";
  }
#last {
  font-size: 0.5 em;
}
.column {
  float: left;
  width: 100%;
}
 /* mobile  */

/*TABLET MODE*/
@media screen and (max-width: 1023px) and (min-width: 768) {
.header {
  font-size: 1 em;
}
body {
  font-size: 1 em;
}
	nav {
		flex-wrap: wrap;
		justify-content: center;
	}
	nav > ul{
		width:  100%;
	flex-wrap: wrap;
	justify-content: space-around;
	}
	nav > ul > li{
		width: 100%;
		margin: .25rem;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
h2[style] {
  width: 100%; height="auto";
  }
#last {
  font-size: 1.5 em;
}
.column {
  float: left;
  width: 33.33%;
}
